<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ru">
<head th:replace="~{fragments :: head}"></head>
<body>
<div th:replace="~{fragments :: header}"></div>
<h1>Welcome, <span th:text="${username}"></span>!</h1>


<a sec:authorize="isAuthenticated()" th:href="@{/test}" class="btn btn-success">Начать тест</a>

<!-- Кнопка "начать тест" для неавторизованных пользователей, но неактивная -->
<a sec:authorize="!isAuthenticated()" class="btn btn-success">Начать тест</a>

<!-- Кнопка "добавить вопрос" только для пользователей с ролью Admin -->
<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/question/java/add}" class="btn btn-success">Добавить вопрос</a>


<div th:replace="~{fragments :: footer}"></div>
</body>
</html>