<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>
<body>
<div th:replace="~{fragments :: header}"></div>
<div class="container mt-5">
    <h2 class="text-center">Авторизация пользователя</h2>
    <form class="row g-3 m-5" method="post" th:action="@{/login}">
        <div class="col-md-6 offset-md-3">
            <div class="mb-3">
                <label for="username" class="form-label">Введите имя пользователя:</label>
                <input type="text" class="form-control" id="username" name="username" required/>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Введите пароль:</label>
                <input type="password" class="form-control" id="password" name="password" required/>
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
        </div>
    </form>
    <div class="text-center" th:if="${error != null}"><span th:text="${error}" class="text-danger"></span></div>
</div>

<div th:replace="~{fragments :: footer}"></div>
</body>
</html>