<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация нового пользователя</h1>
<form th:action="@{/register}" th:object="${user}" method="post">
    <div>
        <label for="username">Пользователь:</label>
        <input type="text" th:field="*{username}" id="username" />
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" th:field="*{password}" id="password" />
    </div>
    <button type="submit">Регистрация</button>
</form>
</body>
</html>